.corporate-page {
    max-width: 1300px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 50px;
    font-family: 'Arial', sans-serif;
    color: #333;
    padding: 0 20px;
}

.corporate-sidebar h4 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
}

.corporate-content h2 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 10px;
    color: black;
}


.corporate-sidebar h4::after {
    content: "";
    display: block;
    height: 1px;
    background-color: #333;
    width: 100%;
    margin-top: 5px;
}

.corporate-sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.corporate-sidebar ul li {
    margin-bottom: 12px;
}

.corporate-sidebar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 400;
    transition: color 0.2s;
}

.corporate-sidebar ul li a:hover {
    color: #ff69b4;
}

.corporate-content h1 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 20px;
}

.corporate-content p {
    line-height: 1.7;
    margin-bottom: 15px;
}

.corporate-content p b {
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 14px;
}

@media (max-width: 1024px) {
    .corporate-page {
        grid-template-columns: 200px 1fr;
        gap: 30px;
    }
}

@media (max-width: 768px) {
    .corporate-page {
        grid-template-columns: 1fr;
    }

    .corporate-sidebar {
        margin-bottom: 30px;
    }
}