.banner-container {
    position: relative;
    width: 100vw;
    height: auto;
    overflow: hidden;
    margin-top: 0;
}

.banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
    display: block;
}

.banner-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: white;
    font-size: 3rem;
    padding: 0 16px;
    cursor: pointer;
    border-radius: 50%;
    user-select: none;
    transition: background-color 0.3s ease;
    z-index: 10;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.banner-arrow:hover {
    background-color: #ff8189;
}

.left-arrow {
    left: 20px;
}

.right-arrow {
    right: 20px;
}

.banner-dots {
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
    z-index: 15;
}

.banner-dots .dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 6px;
    background-color: rgb(198, 184, 184);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.banner-dots .dot.active,
.banner-dots .dot:hover {
    background-color: white;
}